.swp
.*.swp
tool_test_output.*
.DS_Store
MTBLS*.zip
*.tsv
*.log
MTBLS?
MTBLS??
MTBLS???
w4mmtbls*
mzdata
mzml
dataset*
planemo-venv
MTBLS*.tar.gz
MTBLS*.tgz
MTBLS*.tar.bz2
MTBLS*.tbz
MTBLS*.html
MTBLS*.files_path
!test-data/*
isaslicer.py
test-venv
dist
