notifications:
 email:
  recipients:
   - pk.roger@icloud.com

install:
    - wget http://download.asperasoft.com/download/sw/ascp-client/3.5.4/ascp-install-3.5.4.102989-linux-64.sh
    - sudo bash ascp-install-3.5.4.102989-linux-64.sh
    - sudo apt-get install -y python-virtualenv

branches:
  only:
    - master
    - develop

script:
    - make test
    - make planemolint
    - make planemotest
