notifications:
 email:
  recipients:
   - pierrick.roger@gmail.com

dist: xenial

before_install:
    - echo "deb http://cran.univ-paris1.fr/bin/linux/ubuntu xenial/" | sudo tee -a /etc/apt/sources.list
    - sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys E084DAB9
    - sudo apt-get update
    - sudo apt-get -y upgrade
    - sudo apt-get install -y r-base
    - sudo apt-get install -y make
    - sudo apt-get install -y g++
    - sudo apt-get install -y libxml2-dev
    - sudo apt-get install -y libcurl4-openssl-dev
    - sudo apt-get install -y libnetcdf-dev
    - sudo apt-get install -y gfortran
    - sudo apt-get install -y liblapack-dev
    - sudo apt-get install -y libblas-dev
    - sudo apt-get install -y libblas-dev
    - sudo R -e "install.packages(c('getopt'), dependencies = TRUE, repos='http://lib.ugent.be/CRAN/')"
    - sudo R -e "source('http://bioconductor.org/biocLite.R') ; biocLite('Risa')"
    - sudo apt-get install -y python-virtualenv
    - virtualenv planemo-venv
    - . planemo-venv/bin/activate
    - pip install --upgrade pip setuptools
    - pip install planemo

script:
 - make test
